body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* Make the container at least as tall as the viewport */
}

header {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
  /* Center align the header content */
  position: relative;
  /* Added relative positioning */
}

main {
  flex: 1;
  /* Allow the main content to grow and take up available space */
  padding: 20px;
  overflow-y: auto;
  /* Enable scrolling for the main content if needed */
  position: relative;
  /* Added relative positioning */
}

/* CSS for the "Projeto NOVA MAPS" header */
h1 {
  font-size: 2em;
  /* Increase font size */
  color: #333;
  /* Text color */
  margin-top: 20px;
  /* Add some top margin */
}

h4 {
  font-size: 2em;
  /* Increase font size */
  color: #333;
  /* Text color */
  margin-top: 30px;
  /* Add some top margin */
}

/* CSS for the paragraphs */
p {
  font-size: 1.2em;
  /* Increase font size */
  line-height: 1.6;
  /* Increase line height for better readability */
  color: #555;
  /* Text color */
  margin-bottom: 20px;
  /* Add bottom margin */
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  /* Center align the footer content */
  padding: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Updated styles for the Membros button */
.membros-button {
  position: absolute;
  top: 15px;
  right: 10px;
  background-color: #333;
  color: white;
  padding: 25px 30px;
  /* Increase padding for a bigger button */
  cursor: pointer;
  border-radius: 5px;
  /* Makes it circular */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}


.membros-button:hover {
  background-color: #444;
}

/* Updated styles for the GroupMembers component */
.group-members {
  margin-top: 20px;
}

/* Updated styles for the project title link */
header h1 a {
  color: white;
  /* Set the text color explicitly */
  text-decoration: none;
  /* Remove the underline */
}

.member-item {
  background-color: #f9f9f9;
  padding: 8px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  /* Added a transition effect */
}

.member-item:hover {
  background-color: #f5f5f5;
  transform: translateY(-2px);
}

h2 {
  font-size: 1.2em;
  margin: 0;
  padding: 0.25em 0;
}

p {
  margin: 0;
  padding: 0.25em 0;
  font-size: 0.9em;
}

/* Updated styles for the user name buttons */
.group-member a {
  color: inherit;
  /* Inherit the text color */
  text-decoration: none;
  /* Remove the underline */
}

.group-member a:hover {
  text-decoration: underline;
  /* Add underline on hover */
}


/* Updated styles for the group names container */
.group-names {
  position: absolute;
  top: 5px;
  /* Adjust this value to your preferred position */
  right: 10px;
  background-color: #333;
  color: white;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  display: none;
}

/* New styles for the member blocks */
.group-member-block {
  margin: 5px;
  padding: 10px;
  background-color: #444;
  /* Background color for the member block */
  border-radius: 5px;
}

/* New styles for the member names */
.group-member {
  font-size: 1.2em;
  color: white;
  text-decoration: none;
}

.group-member:hover {
  text-decoration: underline;
}


.group-names.active {
  display: block;
}

.group-names ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.group-names .group-member {
  margin: 5px 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}